pydantic>=2.12.5
python-dotenv>=1.2.1
langchain[openai]>=1.2.8
langchain-community>=0.4.1
langchain-mcp-adapters>=0.2.1
langchain-text-splitters>=1.1.0
langgraph>=1.0.7
langgraph-cli[inmem]>=0.4.12
langgraph-supervisor>=0.0.31
langgraph-checkpoint-sqlite>=3.0.3
langgraph-checkpoint-redis>=0.3.4
langmem>=0.0.30
ipynbname>=2025.8.0.0
fastmcp>=2.14.5
bs4>=0.0.2
scikit-learn>=1.8.0
supervisor>=4.3.0
jieba>=0.42.1
dashscope>=1.25.11
tavily-python>=0.7.21
ddgs>=9.10.0
